body {
    display: flex;
    background-image: url(./img/53f1252470d9f90a08d36dbd74217574.jpg);
}
.box {
    background: #5656;
    width: 50%;
    height: 200px;
    display: flex;
    border: 10px red dotted;
}