
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -30px;
            bottom: -80px;
        }

        form {
            height: 540px;
            width: 800px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 30px 35px;
        }


            form * {
                font-family: 'Poppins',sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: block;
            flex: 2;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        .gr {
            display: flex
        }

        .gr-fill {
            display: block;
            width: 40%
        }

        .gr-autoRole {
            display: block;
            width: 60%;
            float: right
        }

        .gr-input {
            display: flex;
            position: relative;
            width: 100%
        }

        input, select {
            display: block;
            flex: 4;
            height: 50px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

            select.rqchangeRole {
                height: 20px;
                width: 100%;
                font-size: 14px;
                font-weight: 100;
            }
            select option {
                color: #000
            }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 20px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 8px;
            display: flex;
        }

            .social div {
                background: red;
                width: 150px;
                border-radius: 3px;
                padding: 5px 10px 10px 5px;
                background-color: rgba(255,255,255,0.27);
                color: #eaf0fb;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255,255,255,0.47);
                }

            .social .fb {
                margin-left: 25px;
            }

            .social i {
                margin-right: 4px;
            }

        .verify_warning {
            color: red;
            font-size: 0.85rem;
        }

        .img {
            position: absolute;
            top: 34vh;
            left: 15%;
        }

        table {
            text-align: center;
            margin-left: 10px;
            margin-top: 10px;
            width: 100%;
            font-size: 14px;
            border: 1px dotted rgba(255,255,255,0.2);
        }
        table>tbody>tr>td:first-child{
            text-align:left
        }
    </style>
</head>
<body>
    <img class="img" src="~/Content/Image/DieOK2.png" />
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/login/register">
        <h3 class="title">Registion DMS</h3>
        <p class="verify_warning">@ViewBag.err</p>
        <div class="gr">
            <div class="gr-fill">
                <div class="gr-input">
                    <label for="username">Code</label>
                    <input type="text" name="code" placeholder="">
                </div>

                <div class="gr-input">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="">
                </div>
                <div class="gr-input">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="">
                </div>
                <div class="gr-input">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="">
                </div>
                <div class="gr-input">
                    <label for="Dept">Department</label>
                    @Html.DropDownList("DeptID", null, "", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="gr-input">
                    <label for="Dept">Grade</label>
                    @Html.DropDownList("GradeID", null, "", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="gr-autoRole">
                <table id="tableRenderRoleGenarade">
                    <thead>
                        <tr>
                            <th>Function</th>
                            <th>View</th>
                            <th>Issue</th>
                            <th>Check</th>
                            <th>Approve</th>
                            <th>RQ Change</th>
                        </tr>
                    </thead>
                    <tbody class="tableRenderRoleGenarade">
                    </tbody>
                </table>
            </div>
        </div>

        <button id="btn-register">Register</button>
        <div class="social">
            <a href="/login" class="go"> Registration Account</a>
            <a href="/login/forgotPW" class="fb">Forgot Password</a>
        </div>
    </form>
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $('#btn-register').on('click', function (e) {
        e.preventDefault()
        let result = validateform()
        if (result) {
            $('form').submit()
        }
    })
    $('select').on('change', getPermitionGenarate)
    function getPermitionGenarate() {
        let deptID = $('select[name=DeptID]').val()
        let gradeID = $('select[name=GradeID]').val()
        if (deptID && gradeID) {
            $.ajax({
                url: "/login/getPermition",
                type: 'POST',
                data: { 'deptID': deptID, 'gradeID': gradeID },
                dataType: 'json',
                success: function (data) {
                    renderPermition(data)
                },
                fail: function () {
                    alert('occur error!!')
                }
            })
        }
    }

    function renderPermition(data) {
        var data = data
        console.log(data)
        $('.tableRenderRoleGenarade').html('')
        content = ''
        for (let func in data) {
            let role = data[func]

            content +=
                `
                <tr>
                    <td>${func}</td>
                    <td><i class="fa-solid fa-check"></i></td>
                    <td>${role.isIssue ? '<i class="fa-solid fa-check"></i>' : '<i class="fa-solid fa-xmark"></i>'}</td>
                    <td>${role.isCheck ? '<i class="fa-solid fa-check"></i>' : '<i class="fa-solid fa-xmark"></i>'}</td>
                    <td>${role.isApprove ? '<i class="fa-solid fa-check"></i>' : '<i class="fa-solid fa-xmark"></i>'}</td>
                    <td><select name="rqChangeRole" class="rqchangeRole">
                        <option value=''><option>
                        <option value='0'>View<option>
                        <option value='1'>Issue<option>
                        <option value='2'>Check<option>
                        <option value='3'>Approve<option>
                    </select></td>

                </tr>
            `

        }
        $('.tableRenderRoleGenarade').html(content)
    }
    function validateform() {
        let code = $('input[name=code]').val()
        let pass = $('input[name=password]').val()
        let name = $('input[name=name]').val()
        let email = $('input[name=email]').val()
        let deptID = $('select[name=DeptID]').val()
        let gradeID = $('select[name=GradeID]').val()

        // 1.check code da ton tai chua
        isExistAcc(function (status) {
            if (status) {
                $('.verify_warning').text('This Code already register!')
                return false
            }
        })

        // 2.check da dien du form chua
        if (!code) {
            $('.verify_warning').text('Pls input employee code!')
            return false
        }
        if (pass.length < 6) {
            $('.verify_warning').text('Password at least 6 character!')
            return false
        }
        if (!name) {
            $('.verify_warning').text('pls input Name!')
            return false
        }
        if (!email) {
            $('.verify_warning').text('pls input Email!')
            return false
        }
        if (!deptID) {
            $('.verify_warning').text('pls select your department belong!')
            return false
        }
        if (!gradeID) {
            $('.verify_warning').text('pls select your grade to genarate you permition!')
            return false
        }
        $('.verify_warning').text('')
        return true
    }
    function isExistAcc(callback) {
        // callback return true || false
        let code = $('input[name=code]').val()
        $.ajax({
            url: "/login/isExistAcc",
            type: 'POST',
            data: { 'code': code },
            dataType: 'json',
            success: function (data) {
                callback(data)
            },
            fail: function () {
                alert('occur error!!')
            }
        })
    }

</script>
